/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* Colors */
$text-color: #000 !default;
$muted-text-color: $text-color !default;
$primary-color: #ed5a66  !default;           // 이 부분이 강조색이다. 우상단 메뉴, 인용문 등의 강조색.       // 목록, 이전 글, 다음 글, 목록 링크, 코드블록 등
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #000 !default;
// $link-color: #ff0000 !default;              // 이 부분이 링크의 색깔을 결정한다.
$link-color: #aabde9;                                                                            
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// 게시글 제목 
.page__title{
   color: $link-color;
 }

// 전체 배경색 (navbar 제외)
.initial-content{
   background-color: #f7fafd;
   color: #aabde9;        
}

.page__content,                  // 본문
.site-title,                     // 블로그 제목
.archive-subtitle                // 홈 게시글 목록 제목 recent posts
{
   color: #293b77;
}

// 네브바 우측 카테고리, 태그 메뉴 
.masthead__menu-item{
   color: #aabde9; 
}

.sidebar{
   color: #7c97d8;            // 사이드바 
}
